In [2]:
import pandas as pd
import numpy as np

In [7]:
bank = pd.read_csv("csv-files/bank.csv", delimiter=';')
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [8]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        4521 non-null   int64
 1   job        4521 non-null   object
 2   marital    4521 non-null   object
 3   education  4521 non-null   object
 4   default    4521 non-null   object
 5   balance    4521 non-null   int64
 6   housing    4521 non-null   object
 7   loan       4521 non-null   object
 8   contact    4521 non-null   object
 9   day        4521 non-null   int64
 10  month      4521 non-null   object
 11  duration   4521 non-null   int64
 12  campaign   4521 non-null   int64
 13  pdays      4521 non-null   int64
 14  previous   4521 non-null   int64
 15  poutcome   4521 non-null   object
 16  y          4521 non-null   object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

In [12]:
bank1, bank2 = bank[:2521], bank[2521:]
bank2.sample(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
3822,44,blue-collar,married,primary,no,420,yes,no,unknown,7,may,110,2,-1,0,unknown,no
2584,31,management,married,tertiary,no,2395,no,no,cellular,27,apr,218,1,-1,0,unknown,no
3428,29,self-employed,married,tertiary,no,1,no,no,cellular,18,jul,167,3,-1,0,unknown,no
2554,36,blue-collar,married,secondary,no,777,yes,no,cellular,6,may,185,3,-1,0,unknown,no
3135,48,management,married,tertiary,no,1808,yes,no,cellular,26,feb,245,1,-1,0,unknown,yes

In [16]:
pd.concat([bank1, bank2])

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [20]:
bank1, bank2, bank3 = bank[:1000], bank[1000:2000], bank[2000:]
bank1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,blue-collar,married,secondary,no,1370,yes,no,cellular,11,may,472,2,-1,0,unknown,no
996,58,management,married,secondary,no,37,no,no,cellular,18,aug,84,11,-1,0,unknown,no
997,34,management,single,tertiary,no,673,yes,yes,cellular,20,nov,271,1,184,1,failure,no
998,40,services,married,secondary,no,-342,yes,no,unknown,26,may,754,1,-1,0,unknown,no
999,20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no

In [25]:
pd.concat([bank1, bank2, bank3], axis=1)

,age,job,marital,education,default,balance,housing,loan,contact,day,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35.0,management,single,tertiary,no,1350.0,yes,no,cellular,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59.0,blue-collar,married,secondary,no,0.0,yes,no,unknown,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,30.0,jul,329.0,5.0,-1.0,0.0,unknown,no
4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,unknown,9.0,may,153.0,1.0,-1.0,0.0,unknown,no
4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,19.0,aug,151.0,11.0,-1.0,0.0,unknown,no
4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,6.0,feb,129.0,4.0,211.0,3.0,other,no
4520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,cellular,3.0,apr,345.0,2.0,249.0,7.0,other,no

In [26]:
bank1 = bank1.set_index('age')
bank1

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,,,,,,,,,,,,,,,,
30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,blue-collar,married,secondary,no,1370,yes,no,cellular,11,may,472,2,-1,0,unknown,no
58,management,married,secondary,no,37,no,no,cellular,18,aug,84,11,-1,0,unknown,no
34,management,single,tertiary,no,673,yes,yes,cellular,20,nov,271,1,184,1,failure,no
40,services,married,secondary,no,-342,yes,no,unknown,26,may,754,1,-1,0,unknown,no
20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no

In [27]:
bank2 = bank2.set_index('age')
bank2

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,,,,,,,,,,,,,,,,
34,technician,married,secondary,no,209,yes,yes,cellular,8,apr,375,2,-1,0,unknown,no
31,technician,single,tertiary,no,438,yes,no,cellular,12,aug,130,2,-1,0,unknown,no
39,admin.,single,secondary,no,1242,yes,no,unknown,12,may,303,3,-1,0,unknown,no
34,entrepreneur,married,tertiary,no,355,yes,no,unknown,16,may,261,1,-1,0,unknown,no
24,blue-collar,married,secondary,no,204,yes,yes,cellular,17,apr,229,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,admin.,single,secondary,no,-23,no,no,cellular,20,nov,48,2,-1,0,unknown,no
58,management,divorced,tertiary,no,1573,yes,yes,cellular,17,nov,279,1,-1,0,unknown,no
24,blue-collar,single,secondary,no,77,yes,no,unknown,16,may,236,2,-1,0,unknown,no
53,services,married,secondary,no,1378,yes,no,cellular,18,jul,91,2,-1,0,unknown,no
36,blue-collar,married,secondary,no,-73,yes,yes,cellular,18,may,15,8,-1,0,unknown,no

In [ ]:
bank1 = bank1.set_index('age')
bank1

In [28]:
pd.concat([bank1, bank2], axis=1)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects