In [ ]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.Series(np.random.randn(9), 
                  index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], 
                         [1, 2, 3, 1, 3, 1, 2, 2, 3]])
data1

a  1    0.005113
   2    0.034124
   3    0.036501
b  1   -0.876955
   3    0.858061
c  1   -0.176413
   2    1.947658
d  2   -1.600273
   3    0.139820
dtype: float64

In [3]:
data1.unstack()

          1         2         3
a  0.005113  0.034124  0.036501
b -0.876955       NaN  0.858061
c -0.176413  1.947658       NaN
d       NaN -1.600273  0.139820

In [ ]:
type(data1.unstack())

pandas.core.frame.DataFrame

In [6]:
data1.unstack().stack()

a  1    0.005113
   2    0.034124
   3    0.036501
b  1   -0.876955
   3    0.858061
c  1   -0.176413
   2    1.947658
d  2   -1.600273
   3    0.139820
dtype: float64

In [7]:
type(data1.unstack().stack())

pandas.core.series.Series