In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv("csv-files/data_pivot.csv")
data.head(10)

                            date     item     value
0  1959-03-31 23:59:59.999999999  realgdp  2710.349
1  1959-03-31 23:59:59.999999999     infl     0.000
2  1959-03-31 23:59:59.999999999    unemp     5.800
3  1959-06-30 23:59:59.999999999  realgdp  2778.801
4  1959-06-30 23:59:59.999999999     infl     2.340
5  1959-06-30 23:59:59.999999999    unemp     5.100
6  1959-09-30 23:59:59.999999999  realgdp  2775.488
7  1959-09-30 23:59:59.999999999     infl     2.740
8  1959-09-30 23:59:59.999999999    unemp     5.300
9  1959-12-31 23:59:59.999999999  realgdp  2785.204

In [13]:
pivoted_data = data.pivot(index='date', columns='item', values='value')
pivoted_data

item                           infl    realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00   2710.349    5.8
1959-06-30 23:59:59.999999999  2.34   2778.801    5.1
1959-09-30 23:59:59.999999999  2.74   2775.488    5.3
1959-12-31 23:59:59.999999999  0.27   2785.204    5.6
1960-03-31 23:59:59.999999999  2.31   2847.699    5.2
...                             ...        ...    ...
2008-09-30 23:59:59.999999999 -3.16  13324.600    6.0
2008-12-31 23:59:59.999999999 -8.79  13141.920    6.9
2009-03-31 23:59:59.999999999  0.94  12925.410    8.1
2009-06-30 23:59:59.999999999  3.37  12901.504    9.2
2009-09-30 23:59:59.999999999  3.56  12990.341    9.6

[203 rows x 3 columns]

In [14]:
data['value2'] = np.random.randn(len(data))
data

                              date     item      value    value2
0    1959-03-31 23:59:59.999999999  realgdp   2710.349  1.367132
1    1959-03-31 23:59:59.999999999     infl      0.000  1.336799
2    1959-03-31 23:59:59.999999999    unemp      5.800 -0.074401
3    1959-06-30 23:59:59.999999999  realgdp   2778.801  0.648503
4    1959-06-30 23:59:59.999999999     infl      2.340 -2.064804
..                             ...      ...        ...       ...
604  2009-06-30 23:59:59.999999999     infl      3.370  0.223016
605  2009-06-30 23:59:59.999999999    unemp      9.200  2.066575
606  2009-09-30 23:59:59.999999999  realgdp  12990.341  0.824290
607  2009-09-30 23:59:59.999999999     infl      3.560  0.173171
608  2009-09-30 23:59:59.999999999    unemp      9.600  0.847376

[609 rows x 4 columns]

In [16]:
pivoted_data = data.pivot(index='date', columns='item', values='item')
pivoted_data

item                           infl  realgdp  unemp
date
1959-03-31 23:59:59.999999999  infl  realgdp  unemp
1959-06-30 23:59:59.999999999  infl  realgdp  unemp
1959-09-30 23:59:59.999999999  infl  realgdp  unemp
1959-12-31 23:59:59.999999999  infl  realgdp  unemp
1960-03-31 23:59:59.999999999  infl  realgdp  unemp
...                             ...      ...    ...
2008-09-30 23:59:59.999999999  infl  realgdp  unemp
2008-12-31 23:59:59.999999999  infl  realgdp  unemp
2009-03-31 23:59:59.999999999  infl  realgdp  unemp
2009-06-30 23:59:59.999999999  infl  realgdp  unemp
2009-09-30 23:59:59.999999999  infl  realgdp  unemp

[203 rows x 3 columns]