In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [6]:
df.company.value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
chevrolet        3
jaguar           3
isuzu            3
honda            3
porsche          3
alfa-romero      3
dodge            2
volvo            2
Name: count, dtype: int64

In [7]:
df[df.company=='audi']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920.0

In [19]:
df.groupby(['company', 'body-style']).price.max(numeric_only=True)

company        body-style
alfa-romero    convertible    16500.0
               hatchback      16500.0
audi           sedan          17450.0
               wagon          18920.0
bmw            sedan          41315.0
chevrolet      hatchback       6295.0
               sedan           6575.0
dodge          hatchback       6377.0
honda          sedan          12945.0
               wagon           7295.0
isuzu          sedan           6785.0
jaguar         sedan          36000.0
mazda          hatchback      11845.0
               sedan          18344.0
mercedes-benz  hardtop        45400.0
               sedan          40960.0
               wagon          28248.0
mitsubishi     hatchback       6189.0
               sedan           8189.0
nissan         sedan          13499.0
               wagon           7349.0
porsche        convertible    37028.0
               hardtop        34028.0
               hatchback          NaN
toyota         hatchback       6488.0
               wagon          15750.0
volkswagen     sedan           9995.0
volvo          sedan          12940.0
               wagon          13415.0
Name: price, dtype: float64

In [ ]:
df.groupby("company").agg(
          avg_price=("price", "mean"),
          max_horsepower=("horsepower", "max"),
          min_mileage=("average-mileage", "min"),
          avg_length=("length", "mean"),
          car_count=("price", "count")
      )

,avg_price,max_horsepower,min_mileage,avg_length,car_count
company,,,,,
alfa-romero,15498.333333,154,19,169.600000,3
audi,16392.500000,115,18,180.800000,4
bmw,27213.333333,182,15,185.033333,6
chevrolet,6007.000000,70,38,151.933333,3
dodge,6303.000000,68,31,157.300000,2
honda,10195.000000,101,24,167.200000,3
isuzu,6785.000000,78,24,160.833333,1
jaguar,34600.000000,262,13,196.966667,3
mazda,9654.800000,101,17,164.260000,5
mercedes-benz,35040.000000,184,14,197.275000,4
mitsubishi,6689.000000,88,25,164.850000,4
nissan,8289.000000,152,19,170.140000,5
porsche,35528.000000,288,17,171.166667,2
toyota,8216.857143,156,19,167.571429,7
volkswagen,8435.000000,100,26,171.700000,4
volvo,13177.500000,114,23,188.800000,2

In [26]:
df.groupby("company").agg(
    wheel_base_min=("wheel-base", "min"),
    wheel_base_max=("wheel-base", "max"),
    wheel_base_mean=("wheel-base", "mean"),
    length_min=("length", "min"),
    length_max=("length", "max"),
    length_mean=("length", "mean"),
    horsepower_min=("horsepower", "min"),
    horsepower_max=("horsepower", "max"),
    horsepower_mean=("horsepower", "mean"),
    mileage_min=("average-mileage", "min"),
    mileage_max=("average-mileage", "max"),
    mileage_mean=("average-mileage", "mean"),
    price_min=("price", "min"),
    price_max=("price", "max"),
    price_mean=("price", "mean"),
)

,wheel_base_min,wheel_base_max,wheel_base_mean,length_min,length_max,length_mean,horsepower_min,horsepower_max,horsepower_mean,mileage_min,mileage_max,mileage_mean,price_min,price_max,price_mean
company,,,,,,,,,,,,,,,
alfa-romero,88.6,94.5,90.566667,168.8,171.2,169.600000,111,154,125.333333,19,21,20.333333,13495.0,16500.0,15498.333333
audi,99.4,105.8,101.200000,176.6,192.7,180.800000,102,115,109.250000,18,24,20.000000,13950.0,18920.0,16392.500000
bmw,101.2,110.0,103.433333,176.8,197.0,185.033333,101,182,144.833333,15,23,19.000000,16430.0,41315.0,27213.333333
chevrolet,88.4,94.5,92.466667,141.1,158.8,151.933333,48,70,62.666667,38,47,41.000000,5151.0,6575.0,6007.000000
dodge,93.7,93.7,93.700000,157.3,157.3,157.300000,68,68,68.000000,31,31,31.000000,6229.0,6377.0,6303.000000
honda,96.5,96.5,96.500000,157.1,175.4,167.200000,76,101,92.333333,24,30,26.333333,7295.0,12945.0,10195.000000
isuzu,94.3,94.5,94.433333,155.9,170.7,160.833333,70,78,72.666667,24,38,33.333333,6785.0,6785.0,6785.000000
jaguar,102.0,113.0,109.333333,191.7,199.6,196.966667,176,262,204.666667,13,15,14.333333,32250.0,36000.0,34600.000000
mazda,93.1,104.9,95.900000,159.1,175.0,164.260000,68,101,75.400000,17,31,28.000000,5195.0,18344.0,9654.800000
mercedes-benz,110.0,120.9,113.225000,190.9,208.1,197.275000,123,184,153.500000,14,22,18.000000,25552.0,45400.0,35040.000000
mitsubishi,93.7,96.3,95.000000,157.3,172.4,164.850000,68,88,78.000000,25,37,29.500000,5389.0,8189.0,6689.000000
nissan,94.5,100.4,95.680000,165.3,184.6,170.140000,55,152,82.800000,19,45,31.400000,6649.0,13499.0,8289.000000
porsche,89.5,98.4,92.466667,168.9,175.7,171.166667,207,288,234.000000,17,17,17.000000,34028.0,37028.0,35528.000000
toyota,95.7,104.5,96.957143,158.7,187.8,167.571429,62,156,75.428571,19,35,28.714286,5348.0,15750.0,8216.857143
volkswagen,97.3,97.3,97.300000,171.7,171.7,171.700000,52,100,72.250000,26,37,31.750000,7775.0,9995.0,8435.000000
volvo,104.3,104.3,104.300000,188.8,188.8,188.800000,114,114,114.000000,23,23,23.000000,12940.0,13415.0,13177.500000