In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [4]:
len(df)

100

In [5]:
random_values = np.random.permutation(100)
random_values

array([91, 97, 61, 19, 30,  5, 32, 82, 85,  0, 44, 48, 35, 77, 62, 84, 23,
       38, 31, 29,  1, 21,  8,  7, 24, 46, 13, 56, 42, 74, 89, 40, 53,  2,
       81, 34, 71, 75, 60, 69, 80, 39, 41, 51, 95, 52, 79,  4, 22, 67, 58,
       59, 49,  9, 70, 63, 86, 87, 96, 83, 50, 27, 54, 90, 18, 66, 10, 76,
       92, 47, 73, 20, 55, 93, 88, 45, 98, 37, 16, 57, 15, 78, 72, 65, 25,
       12, 26, 17, 33, 64, 36, 11,  6, 14, 43, 68, 94, 28,  3, 99],
      dtype=int32)

In [6]:
df.take(random_values)

    first_name   last_name                           email       gender  age
id
92        Yuri       Fahey                yfahey2j@pbs.org   Non-binary   37
98        Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender   55
62      Kennan       Visco            kvisco1p@jiathis.com       Female   94
20       Arlie     Mintram        amintramj@soundcloud.com     Bigender   41
31    Barbabas     Ginnety           bginnetyu@oaic.gov.au  Genderqueer   87
..         ...         ...                             ...          ...  ...
69       Ruthy     Bessett        rbessett1w@google.com.hk  Genderqueer    7
95       Byron  Whittleton   bwhittleton2m@theatlantic.com   Non-binary    2
29       Biron    Acklands          backlandss@comsenz.com         Male   13
4         Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid    6
100      Mable     Toffano          mtoffano2r@myspace.com     Bigender  233

[100 rows x 5 columns]

In [ ]:
df.sample(10)

   first_name last_name                         email       gender  age
id
85       Dido    Megany          dmegany2c@unesco.org   Non-binary   65
63   Adrianne   Gommowe  agommowe1q@deliciousdays.com         Male  100
54    Gregory     Criag       gcriag1h@purevolume.com   Polygender   50
29      Biron  Acklands        backlandss@comsenz.com         Male   13
27    Natalee   Baudone        nbaudoneq@marriott.com  Genderqueer   74
29      Biron  Acklands        backlandss@comsenz.com         Male   13
70      Ambur    Aickin           aaickin1x@about.com         Male   60
51  Gwendolin   Kennion  gkennion1e@independent.co.uk     Bigender   83
69      Ruthy   Bessett      rbessett1w@google.com.hk  Genderqueer    7
67     Bunnie    Ozanne      bozanne1u@whitehouse.gov         Male   92