In [3]:
import pandas as pd
import sqlite3 as sql

In [4]:
db = sql.connect("chinook.sqlite")
cursor = db.cursor()

In [27]:
query = """
SELECT name FROM sqlite_master WHERE type='table';
"""

cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('Album',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

In [20]:
query = "SELECT * FROM Genre"
pd.read_sql(query,db)

    GenreId                Name
0         1                Rock
1         2                Jazz
2         3               Metal
3         4  Alternative & Punk
4         5       Rock And Roll
5         6               Blues
6         7               Latin
7         8              Reggae
8         9                 Pop
9        10          Soundtrack
10       11          Bossa Nova
11       12      Easy Listening
12       13         Heavy Metal
13       14            R&B/Soul
14       15   Electronica/Dance
15       16               World
16       17         Hip Hop/Rap
17       18     Science Fiction
18       19            TV Shows
19       20    Sci Fi & Fantasy
20       21               Drama
21       22              Comedy
22       23         Alternative
23       24           Classical
24       25               Opera

In [13]:
query = """
INSERT INTO Genre VALUES (26, 'New Genre')
"""
cursor.execute(query)
db.commit()

In [14]:
query = "SELECT * FROM Genre"
cursor.execute(query)
cursor.fetchall()

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll'),
 (6, 'Blues'),
 (7, 'Latin'),
 (8, 'Reggae'),
 (9, 'Pop'),
 (10, 'Soundtrack'),
 (11, 'Bossa Nova'),
 (12, 'Easy Listening'),
 (13, 'Heavy Metal'),
 (14, 'R&B/Soul'),
 (15, 'Electronica/Dance'),
 (16, 'World'),
 (17, 'Hip Hop/Rap'),
 (18, 'Science Fiction'),
 (19, 'TV Shows'),
 (20, 'Sci Fi & Fantasy'),
 (21, 'Drama'),
 (22, 'Comedy'),
 (23, 'Alternative'),
 (24, 'Classical'),
 (25, 'Opera'),
 (26, 'New Genre')]

In [24]:
cursor.execute('DROP TABLE Artist')
db.commit()

In [15]:
query = """
UPDATE Genre SET GenreId=26, Name='New Genre2' where GenreId=26
"""
cursor.execute(query)
db.commit()

In [16]:
query = "SELECT * FROM Genre"
cursor.execute(query)
cursor.fetchall()

[(1, 'Rock'),
 (2, 'Jazz'),
 (3, 'Metal'),
 (4, 'Alternative & Punk'),
 (5, 'Rock And Roll'),
 (6, 'Blues'),
 (7, 'Latin'),
 (8, 'Reggae'),
 (9, 'Pop'),
 (10, 'Soundtrack'),
 (11, 'Bossa Nova'),
 (12, 'Easy Listening'),
 (13, 'Heavy Metal'),
 (14, 'R&B/Soul'),
 (15, 'Electronica/Dance'),
 (16, 'World'),
 (17, 'Hip Hop/Rap'),
 (18, 'Science Fiction'),
 (19, 'TV Shows'),
 (20, 'Sci Fi & Fantasy'),
 (21, 'Drama'),
 (22, 'Comedy'),
 (23, 'Alternative'),
 (24, 'Classical'),
 (25, 'Opera'),
 (26, 'New Genre2')]

In [17]:
query = """
DELETE From Genre where GenreId=26
"""
cursor.execute(query)
db.commit()

In [18]:
db.close()