In [23]:
import pandas as pd
import numpy as np

In [2]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019: 18.5, 2018: 18.3, 2017: 18.1, 2016: 17.8, 2015: 17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}
df = pd.DataFrame(
    {"Uzbekistan":uz,
    "Kazakhstan":kz,
    "Tajikistan":tj,
    "Kyrgyzstan":kg,
    "Turkmenistan":tr
    }
)
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgyzstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [4]:
df.loc[[2018]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgyzstan  Turkmenistan
2018        32.5        18.3         9.1         6.3           5.9

In [6]:
df.loc[[2017, 2018], ['Uzbekistan', 'Turkmenistan']]

      Uzbekistan  Turkmenistan
2017        31.9           5.8
2018        32.5           5.9

In [12]:
df.iloc[[3, 2], [0, 4]]

      Uzbekistan  Turkmenistan
2017        31.9           5.8
2018        32.5           5.9

In [15]:
df.at[2019, 'Kazakhstan']

np.float64(18.5)

In [16]:
df.at[2019, 'Kazakhstan'] > df.at[2018, 'Kazakhstan']

np.True_

In [17]:
df.at[2019, 'Kazakhstan'] - df.at[2018, 'Kazakhstan']

np.float64(0.1999999999999993)

In [19]:
df.iat[5, 3]

np.float64(6.0)

In [21]:
nums = list(range(10, 21))
nums

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
nums[-1]

20

In [27]:
nums = pd.Series(np.arange(10.))
nums

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [33]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [34]:
nums.iloc[-1]

np.float64(9.0)

In [35]:
ser.loc['d']

np.float64(3.0)