In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from pandas import Series

In [4]:
cars_dict = {'BMW': 40000, 'Audi': 35000, 'Toyota': 50000, 'Honda': 45000}
models = ['Honda', 'Toyota', 'Audi', 'Chevrolet', 'BMW']
cars2 = Series(cars_dict, index=models)
cars2

Honda        45000.0
Toyota       50000.0
Audi         35000.0
Chevrolet        NaN
BMW          40000.0
dtype: float64

In [5]:
cars2.isnull()

Honda        False
Toyota       False
Audi         False
Chevrolet     True
BMW          False
dtype: bool

In [7]:
cars2.notnull()

Honda         True
Toyota        True
Audi          True
Chevrolet    False
BMW           True
dtype: bool

In [8]:
cars2

Honda        45000.0
Toyota       50000.0
Audi         35000.0
Chevrolet        NaN
BMW          40000.0
dtype: float64

In [10]:
cars1 = Series({'BMW': 40000, 'Audi': 35000, 'Toyota': 50000, 'Honda': 45000})
cars1

BMW       40000
Audi      35000
Toyota    50000
Honda     45000
dtype: int64

In [11]:
cars1+cars2

Audi          70000.0
BMW           80000.0
Chevrolet         NaN
Honda         90000.0
Toyota       100000.0
dtype: float64

In [ ]:
cars2.name = 'Cars Prices'
cars2.index.name = 'Car Models'
cars2

Car Models
Honda        45000.0
Toyota       50000.0
Audi         35000.0
Chevrolet        NaN
BMW          40000.0
Name: Car Prices, dtype: float64

| Category | Method | Description |
|--------|--------|-------------|
| Creation & Info | Series() | Create a Series |
|  | head() | Return first n elements |
|  | tail() | Return last n elements |
|  | shape | Return dimensions |
|  | size | Number of elements |
|  | dtype | Data type of values |
|  | name | Name of the Series |
|  | index | Index labels |
| Indexing & Selection | loc[] | Label-based selection |
|  | iloc[] | Position-based selection |
|  | at[] | Fast label-based scalar access |
|  | iat[] | Fast position-based scalar access |
|  | take() | Select elements by index positions |
| Missing Data | isna() / isnull() | Detect missing values |
|  | notna() / notnull() | Detect non-missing values |
|  | dropna() | Remove missing values |
|  | fillna() | Fill missing values |
|  | replace() | Replace values |
| Duplicates | duplicated() | Mark duplicate values |
|  | drop_duplicates() | Remove duplicates |
| Statistics | count() | Count non-NA values |
|  | sum() | Sum of values |
|  | mean() | Mean value |
|  | median() | Median value |
|  | mode() | Most frequent value |
|  | min() | Minimum value |
|  | max() | Maximum value |
|  | std() | Standard deviation |
|  | var() | Variance |
|  | sem() | Standard error of mean |
|  | skew() | Skewness |
|  | kurt() | Kurtosis |
|  | quantile() | Compute quantile |
|  | describe() | Summary statistics |
| Cumulative Ops | cumsum() | Cumulative sum |
|  | cumprod() | Cumulative product |
|  | cummax() | Cumulative maximum |
|  | cummin() | Cumulative minimum |
| Comparison & Logic | eq() | Equal to |
|  | ne() | Not equal to |
|  | gt() | Greater than |
|  | ge() | Greater or equal |
|  | lt() | Less than |
|  | le() | Less or equal |
|  | between() | Check value range |
|  | isin() | Check membership |
| Sorting & Ranking | sort_values() | Sort by values |
|  | sort_index() | Sort by index |
|  | rank() | Rank values |
|  | nlargest() | Top n values |
|  | nsmallest() | Bottom n values |
| Transformation | apply() | Apply function |
|  | map() | Map values |
|  | astype() | Change data type |
|  | round() | Round values |
|  | clip() | Limit values |
| String Methods | str.lower() | Convert to lowercase |
|  | str.upper() | Convert to uppercase |
|  | str.strip() | Remove whitespace |
|  | str.replace() | Replace substrings |
|  | str.contains() | Substring check |
|  | str.startswith() | Starts with pattern |
|  | str.endswith() | Ends with pattern |
|  | str.split() | Split strings |
|  | str.len() | String length |
| Datetime Methods | dt.year | Extract year |
|  | dt.month | Extract month |
|  | dt.day | Extract day |
|  | dt.hour | Extract hour |
|  | dt.minute | Extract minute |
|  | dt.second | Extract second |
|  | dt.weekday | Day of week |
| Conversion & Output | to_list() | Convert to list |
|  | to_numpy() | Convert to NumPy array |
|  | to_dict() | Convert to dictionary |
|  | to_frame() | Convert to DataFrame |
|  | value_counts() | Count unique values |