In [1]:
import pandas as pd

In [14]:
usernames = {"eva": "evabennet", 'grace': 'gracehop', 'alan': 'alanturing', 'ada': 'adalovelace'}
emails = {'eva': 'eva@bennet.com', 'grace': 'grace@hop.com', 'alan': 'alan@turing.com', 'ada': 'ada@lovelace.com'}
data = {
    'username': usernames,
    'email': emails
}
df = pd.DataFrame(data)
df

          username             email
eva      evabennet    eva@bennet.com
grace     gracehop     grace@hop.com
alan    alanturing   alan@turing.com
ada    adalovelace  ada@lovelace.com

In [21]:
data2 = {
    'username': {"ada": "adagrande", 'justin': 'justinbieber', 'selena': 'selenagomez'},
    'email': {'ada': 'ada@outlook.com', 'justin': 'justin@outlook.com', 'selena': 'selena@outlook.com'}
}
df2 = pd.concat([df, pd.DataFrame(data2)], ignore_index=False)
df2

            username               email
eva        evabennet      eva@bennet.com
grace       gracehop       grace@hop.com
alan      alanturing     alan@turing.com
ada      adalovelace    ada@lovelace.com
ada        adagrande     ada@outlook.com
justin  justinbieber  justin@outlook.com
selena   selenagomez  selena@outlook.com

In [31]:
newind = pd.Index(['ada', 'justin', 'adele'])
newind

Index(['ada', 'justin', 'adele'], dtype='object')

In [32]:
newind.isin(df2.index)

array([ True,  True, False])

In [38]:
df2.index.difference(newind)

Index(['alan', 'eva', 'grace', 'selena'], dtype='object')

In [39]:
newind.difference(df2.index)

Index(['adele'], dtype='object')

In [40]:
df2.index.union(newind)

Index(['ada', 'ada', 'adele', 'alan', 'eva', 'grace', 'justin', 'selena'], dtype='object')

In [46]:
df2.index.delete(5)

Index(['eva', 'grace', 'alan', 'ada', 'ada', 'selena'], dtype='object')

| Method | Description |
|--------|-------------|
| `index.append(other)` | Concatenate with another Index |
| `index.delete(loc)` | Return new Index with element at `loc` removed |
| `index.insert(loc, item)` | Insert element at specified location |
| `index.is_unique` | Check if all labels are unique |
| `index.is_monotonic` | Check if labels are sorted ascending |
| `index.is_monotonic_increasing` | Check if labels are strictly ascending |
| `index.is_monotonic_decreasing` | Check if labels are strictly descending |
| `index.duplicated()` | Boolean array indicating duplicates |
| `index.drop(labels)` | Return Index without specified labels |
| `index.difference(other)` | Return Index with elements not in `other` |
| `index.intersection(other)` | Return common elements with `other` |
| `index.union(other)` | Return union with `other` |
| `index.symmetric_difference(other)` | Elements in either Index but not both |
| `index.sort_values()` | Return sorted Index |
| `index.sort(kind='quicksort')` | Sort Index in place or return sorted copy |
| `index.rename(name)` | Rename Index |
| `index.repeat(repeats)` | Repeat elements multiple times |
| `index.to_list()` | Convert Index to Python list |
| `index.to_numpy()` | Convert Index to NumPy array |
| `index.get_loc(label)` | Get integer location of label |
| `index.get_indexer(target)` | Get locations of multiple labels |
| `index.take(indices)` | Return Index by positional indices |
| `index.unique()` | Return Index of unique elements |
| `index.has_duplicates` | Check if duplicates exist |