In [20]:
import pandas as pd
import numpy as np

In [36]:
data = {
'Year': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
'Population (m)': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
}
df = pd.DataFrame(data)
df

   Year  Population (m)  Temp
0  2021            33.9  1.54
1  2020            33.5  1.48
2  2019            32.9  1.56
3  2018            32.5  1.62
4  2017            31.9  1.65
5  2016            31.4  1.66
6  2015            30.9  1.64
7  2010            28.5  1.53

In [37]:
ind = [21, 20, 19, 18, 17, 16, 15, 10]
ind.sort()

In [38]:
df.index = [21, 20, 19, 18, 17, 16, 15, 10]

In [39]:
df = df.reindex(ind)
df

    Year  Population (m)  Temp
10  2010            28.5  1.53
15  2015            30.9  1.64
16  2016            31.4  1.66
17  2017            31.9  1.65
18  2018            32.5  1.62
19  2019            32.9  1.56
20  2020            33.5  1.48
21  2021            33.9  1.54

In [40]:
df.drop([15, 18])

    Year  Population (m)  Temp
10  2010            28.5  1.53
16  2016            31.4  1.66
17  2017            31.9  1.65
19  2019            32.9  1.56
20  2020            33.5  1.48
21  2021            33.9  1.54

In [41]:
df.drop('Year', axis=1)

    Population (m)  Temp
10            28.5  1.53
15            30.9  1.64
16            31.4  1.66
17            31.9  1.65
18            32.5  1.62
19            32.9  1.56
20            33.5  1.48
21            33.9  1.54