In [22]:
import pandas as pd
import datetime as dt

In [23]:
df = pd.read_csv("earthquake_data.csv")
df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN

In [13]:
now = dt.datetime.now()
type(now)

datetime.datetime

In [5]:
print(now)

2026-01-24 20:37:01.583470

In [6]:
now.hour

20

In [7]:
now.minute

37

In [8]:
now.weekday()

5

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   777 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 116.2+ KB

In [25]:
date1 = df.at[0, 'date_time']
date1.month

AttributeError: 'str' object has no attribute 'month'

In [26]:
df.at[0, 'date_time']

'22-11-2022 02:03'

In [27]:
df.at[0, 'date_time']

'22-11-2022 02:03'

In [28]:
df["date_time"] = pd.to_datetime(
    df["date_time"],
    format="%d-%m-%Y %H:%M"
)

In [ ]:
df.at[0, 'datetime']

'22-11-2022 02:03'

In [30]:
df.dtypes

title                object
magnitude           float64
date_time    datetime64[ns]
cdi                   int64
mmi                   int64
alert                object
tsunami               int64
sig                   int64
net                  object
nst                   int64
dmin                float64
gap                 float64
magType              object
depth               float64
latitude            float64
longitude           float64
location             object
continent            object
country              object
dtype: object

In [33]:
df.head(5)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,2022-11-22 02:03:00,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,2022-11-18 13:37:00,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,2022-11-12 07:09:00,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,2022-11-11 10:48:00,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,2022-11-09 10:14:00,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN

In [34]:
df.at[2, 'date_time'].weekday()

5

In [37]:
df['month'] = df['date_time'].dt.month
df['month'].value_counts()

month
11    80
9     80
4     77
1     70
10    69
8     68
3     63
2     63
5     58
7     56
12    56
6     42
Name: count, dtype: int64

In [38]:
df['weekday'] = df['date_time'].dt.weekday
df['weekday'].value_counts()

weekday
2    134
6    124
3    117
1    114
4    108
5     94
0     91
Name: count, dtype: int64

In [41]:
df['date_time'].dt.hour.value_counts()

date_time
22    49
21    42
14    39
17    39
10    37
8     36
1     35
11    34
18    34
13    33
23    33
3     33
12    31
6     31
2     31
7     31
15    31
9     29
16    29
20    27
0     27
19    27
4     24
5     20
Name: count, dtype: int64