| Category | File Type | Read Method | Write Method |
|--------|-----------|-------------|--------------|
| Text | CSV | `pd.read_csv()` | `DataFrame.to_csv()` |
| Text | TSV / Delimited | `pd.read_table()` | `DataFrame.to_csv(sep='\t')` |
| Text | Fixed-width | `pd.read_fwf()` | — |
| Excel | XLS / XLSX | `pd.read_excel()` | `DataFrame.to_excel()` |
| JSON | JSON | `pd.read_json()` | `DataFrame.to_json()` |
| HTML | HTML tables | `pd.read_html()` | `DataFrame.to_html()` |
| XML | XML | `pd.read_xml()` | `DataFrame.to_xml()` |
| Binary | Pickle | `pd.read_pickle()` | `DataFrame.to_pickle()` |
| Binary | Parquet | `pd.read_parquet()` | `DataFrame.to_parquet()` |
| Binary | Feather | `pd.read_feather()` | `DataFrame.to_feather()` |
| Binary | HDF5 | `pd.read_hdf()` | `DataFrame.to_hdf()` |
| Binary | ORC | `pd.read_orc()` | `DataFrame.to_orc()` |
| Database | SQL Query | `pd.read_sql()` | `DataFrame.to_sql()` |
| Database | SQL Table | `pd.read_sql_table()` | `DataFrame.to_sql()` |
| Helper | Excel Sheets | `pd.ExcelFile()` | `pd.ExcelWriter()` |
| Helper | HDF Store | `pd.HDFStore()` | `pd.HDFStore()` |

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("../pandas-lessons/merc.csv")
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [21]:
df = pd.read_excel("sample.xlsx")
df.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [8]:
pd.read_excel("sample.xlsx", index_col=0).head()

  First Name  Last Name  Gender        Country  Age        Date    Id
0
1      Dulce      Abril  Female  United States   32  15/10/2017  1562
2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3     Philip       Gent    Male         France   36  21/05/2015  2587
4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [9]:
pd.read_excel("sample.xlsx", index_col=0, nrows=15)

   First Name  Last Name  Gender        Country  Age        Date    Id
0
1       Dulce      Abril  Female  United States   32  15/10/2017  1562
2        Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3      Philip       Gent    Male         France   36  21/05/2015  2587
4    Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5     Nereida    Magwood  Female  United States   58  16/08/2016  2468
6      Gaston      Brumm    Male  United States   24  21/05/2015  2554
7        Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
8     Earlean     Melgar  Female  United States   27  16/08/2016  2456
9    Vincenza    Weiland  Female  United States   40  21/05/2015  6548
10     Fallon    Winward  Female  Great Britain   28  16/08/2016  5486
11    Arcelia     Bouska  Female  Great Britain   39  21/05/2015  1258
12   Franklyn     Unknow    Male         France   38  15/10/2017  2579
13    Sherron   Ascencio  Female  Great Britain   32  16/08/2016  3256
14     Marcel  Zabriskie    Male  Great Britain   26  21/05/2015  2587
15       Kina   Hazelton  Female  Great Britain   31  16/08/2016  3259

### commonly used parameters

| Parameter | Purpose | Common Values / Example |
|----------|---------|-------------------------|
| `filepath_or_buffer` | Path or URL of the file | `"data.csv"` |
| `sep` | Column delimiter | `","`, `";"`, `"\t"` |
| `header` | Row to use as column names | `0`, `None` |
| `names` | Custom column names | `["A", "B", "C"]` |
| `index_col` | Column(s) as index | `0`, `"id"` |
| `usecols` | Columns to read | `["col1", "col2"]` |
| `dtype` | Data types of columns | `{"age": int}` |
| `na_values` | Missing value markers | `["NA", "null"]` |
| `parse_dates` | Parse dates | `["date"]` |
| `skiprows` | Rows to skip | `1`, `[0, 2]` |
| `nrows` | Number of rows to read | `100` |
| `encoding` | File encoding | `"utf-8"` |
| `compression` | Compressed file type | `"gzip"`, `"zip"` |
| `chunksize` | Read file in chunks | `1000` |
| `low_memory` | Optimize memory usage | `True`, `False` |
| `on_bad_lines` | Handle malformed rows | `"error"`, `"warn"`, `"skip"` |

# Writing to files

In [24]:
df.to_csv("xlsx2csv.csv", index=False)

In [26]:
pd.read_csv("xlsx2csv.csv", index_col=0).head()

  First Name  Last Name  Gender        Country  Age        Date    Id
0
1      Dulce      Abril  Female  United States   32  15/10/2017  1562
2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3     Philip       Gent    Male         France   36  21/05/2015  2587
4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [27]:
obj = df.Id
obj

0     1562
1     1582
2     2587
3     3549
4     2468
5     2554
6     3598
7     2456
8     6548
9     5486
10    1258
11    2579
12    3256
13    2587
14    3259
15    1546
16    3579
17    6597
18    9654
19    3569
20    2564
21    8561
22    5489
23    5489
24    6574
25    5555
26    6125
27    5412
28    3256
29    3264
30    4569
31    7521
32    6458
33    7569
34    8514
35    8563
36    8642
37    9536
38    2567
39    2154
40    3265
41    8765
42    3259
43    3567
44    6540
45    2654
46    6525
47    3265
48    3265
49    6125
Name: Id, dtype: int64

In [16]:
df2 = pd.read_csv("../pandas-lessons/merc.csv")
df2.to_excel("merc.xlsx", index=False)
pd.read_excel("merc.xlsx")

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [17]:
df3 = pd.read_csv("../pandas-lessons/merc.csv")
df3.to_excel("transmission.xlsx", index=False, columns=['model', 'transmission'])
pd.read_excel("transmission.xlsx").head()

       model transmission
0        SLK    Automatic
1    S Class    Automatic
2   SL CLASS    Automatic
3    G Class    Automatic
4    G Class    Automatic

## HDF5

In [43]:
hdfobj = pd.HDFStore("data.h5")

In [44]:
hdfobj.put("usdata", df3)

In [45]:
hdfobj.put("cardata", df2)

In [46]:
hdfobj.keys()

['/cardata', '/usdata']

In [47]:
hdfobj['cardata']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [50]:
hdfobj.close()

In [42]:
hdfobj['usdata']

ClosedFileError: data.h5 file is not open!

In [49]:
data = hdfobj['usdata']
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [ ]:
data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [53]:
data.to_hdf("data2.h5", key='usdata')