In [82]:
import pandas as pd
import numpy as np

In [45]:
data = {
    'Year': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
    'Population (m)': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
    'Density': [1.2, 1.19, 1.18, 1.17, 1.16, 1.15, 1.14, 1.1]
}
df = pd.DataFrame(data)
df

   Year  Population (m)  Temp  Density
0  2021            33.9  1.54     1.20
1  2020            33.5  1.48     1.19
2  2019            32.9  1.56     1.18
3  2018            32.5  1.62     1.17
4  2017            31.9  1.65     1.16
5  2016            31.4  1.66     1.15
6  2015            30.9  1.64     1.14
7  2010            28.5  1.53     1.10

In [46]:
df.index = [21, 20, 19, 18, 17, 16, 15, 10]
df

    Year  Population (m)  Temp  Density
21  2021            33.9  1.54     1.20
20  2020            33.5  1.48     1.19
19  2019            32.9  1.56     1.18
18  2018            32.5  1.62     1.17
17  2017            31.9  1.65     1.16
16  2016            31.4  1.66     1.15
15  2015            30.9  1.64     1.14
10  2010            28.5  1.53     1.10

In [62]:
data = df['Population (m)']
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Population (m), dtype: float64

In [50]:
type(data)

pandas.core.series.Series

In [60]:
data = df[['Population (m)']]
data

    Population (m)
21            33.9
20            33.5
19            32.9
18            32.5
17            31.9
16            31.4
15            30.9
10            28.5

In [63]:
type(data)

pandas.core.series.Series

In [64]:
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Population (m), dtype: float64

In [76]:
type(data[21])

numpy.float64

In [72]:
data[[21]]

21    33.9
Name: Population (m), dtype: float64

In [77]:
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Population (m), dtype: float64

In [78]:
data[0:4]

21    33.9
20    33.5
19    32.9
18    32.5
Name: Population (m), dtype: float64

In [79]:
data[[21, 20, 19, 18]]

21    33.9
20    33.5
19    32.9
18    32.5
Name: Population (m), dtype: float64

In [80]:
type(data[[21, 20, 19, 18]])

pandas.core.series.Series

In [96]:
obj = pd.Series(np.arange(8), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [97]:
obj[0:4]

a    0
b    1
c    2
d    3
dtype: int64

In [98]:
obj['c':'f']

c    2
d    3
e    4
f    5
dtype: int64

In [99]:
obj

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

In [100]:
obj['a':'c']=15

In [101]:
obj

a    15
b    15
c    15
d     3
e     4
f     5
g     6
h     7
dtype: int64

In [102]:
obj[obj < 15]

d    3
e    4
f    5
g    6
h    7
dtype: int64