In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('uzb.csv', index_col=0)
df.columns = ['population', 'area']
df

                            population    area
area_name
Andijan Region                 3507220    4303
Bukhara Region                 2099069   41937
Fergana Region                 4204284    7005
Jizzakh Region                 1559883   21179
Namangan Region                3177070    7181
Navoi Region                   1108595  109375
Qashqadaryo Region             3697658   28568
Samarkand Region               4360070   16773
Sirdaryo Region                 942630    4276
Surkhandarya Region            2994070   20099
Tashkent Region                3148569   15258
Khorezm Region                 2059078    6464
Republic of Karakalpakstan     2046890  166590
Tashkent City                  3164030     327

In [22]:
df.sum()

population    38069116
area            449335
dtype: int64

In [ ]:
df.idxmin()

population    Sirdaryo Region
area            Tashkent City
dtype: object

In [4]:
df['area'].argmax()

np.int64(12)

In [8]:
df['population'].argmin()

np.int64(8)

In [9]:
df.iloc[8]

population    942630
area            4276
Name: Sirdaryo Region, dtype: int64

### Core Descriptive Statistics
| Function | Purpose |
|----------|---------|
| df.describe() | Summary statistics (count, mean, std, min, quartiles, max) |
| df.mean() | Mean of values |
| df.median() | Median |
| df.mode() | Most frequent value(s) |
| df.std() | Standard deviation |
| df.var() | Variance |
| df.min() | Minimum |
| df.max() | Maximum |
| df.sum() | Sum of values |
| df.count() | Non-null count |

### Distribution & Shape
| Function | Purpose |
|----------|---------|
| df.quantile(q) | Percentiles / quantiles |
| df.skew() | Skewness |
| df.kurt() | Kurtosis |
| df.nunique() | Number of unique values |
| df.value_counts() | Frequency table (Series) |

### Missing Data Statistics
| Function | Purpose |
|----------|---------|
| df.isna().sum() | Count missing values per column |
| df.notna().sum() | Count non-missing values |
| df.dropna() | Remove missing values |
| df.fillna(value) | Replace missing values |

### Relationships & Comparison
| Function | Purpose |
|----------|---------|
| df.corr() | Correlation matrix |
| df.cov() | Covariance matrix |
| df.compare(other) | Compare two DataFrames |

### Group-Based Statistics
| Function | Purpose |
|----------|---------|
| df.groupby(col).mean() | Mean per group |
| df.groupby(col).sum() | Sum per group |
| df.groupby(col).agg() | Multiple statistics at once |
| df.pivot_table() | Spreadsheet-style aggregation |

### Dataset Overview
| Function | Purpose |
|----------|---------|
| df.info() | Data types, non-null counts |
| df.shape | Rows and columns |
| df.dtypes | Column data types |
| df.head() / df.tail() | Preview data |