In [1]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv('merc.csv')
df

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [4]:
models = df['model'].unique()
models.sort()
models

array([' A Class', ' B Class', ' C Class', ' CL Class', ' CLA Class',
       ' CLC Class', ' CLK', ' CLS Class', ' E Class', ' G Class',
       ' GL Class', ' GLA Class', ' GLB Class', ' GLC Class',
       ' GLE Class', ' GLS Class', ' M Class', ' R Class', ' S Class',
       ' SL CLASS', ' SLK', ' V Class', ' X-CLASS', '180', '200', '220',
       '230'], dtype=object)

In [5]:
engine = df['engineSize'].unique()
engine.sort()
engine

array([0. , 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 2. , 2.1, 2.2, 2.3, 2.5, 2.7,
       2.9, 3. , 3.2, 3.5, 3.7, 4. , 4.3, 4.7, 5. , 5.4, 5.5, 6. , 6.2])

In [6]:
df['model'].value_counts()

model
 C Class      3747
 A Class      2561
 E Class      1953
 GLC Class     960
 GLA Class     847
 B Class       591
 CL Class      511
 GLE Class     461
 SL CLASS      260
 CLS Class     237
 V Class       207
 S Class       197
 GL Class      121
 SLK            95
 CLA Class      86
 X-CLASS        82
 M Class        79
 GLS Class      74
 GLB Class      19
 G Class        15
 CLK             7
 CLC Class       3
 R Class         2
180              1
230              1
220              1
200              1
Name: count, dtype: int64

In [11]:
df['year'].value_counts()

year
2019    4553
2017    2381
2016    1971
2018    1467
2015     991
2020     719
2014     491
2013     292
2012      57
2010      38
2011      38
2007      22
2009      17
2008      16
2004      13
2001      10
2005       9
2002       9
2006       8
2003       7
1998       4
2000       3
1997       1
1999       1
1970       1
Name: count, dtype: int64

In [12]:
df['transmission'].value_counts()

transmission
Semi-Auto    6848
Automatic    4825
Manual       1444
Other           2
Name: count, dtype: int64

In [14]:
df[df.transmission =='Other']

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
9650,GLA Class,2016,18700,Other,30895,Other,125,56.5,0.0
12762,SLK,2015,12995,Other,39000,Diesel,150,56.5,2.1

In [15]:
df[df.year>2017]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
6,GLE Class,2018,30948,Automatic,16000,Diesel,145,47.9,2.1
8,G Class,2019,139948,Automatic,12000,Petrol,145,21.4,4.0
10,A Class,2020,32980,Automatic,606,Petrol,145,35.8,2.0
11,A Class,2020,26980,Automatic,1000,Diesel,145,62.8,1.5
12,B Class,2019,23750,Automatic,278,Diesel,145,55.4,2.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [16]:
models = [' SLK', ' M Class']
mask = df['model'].isin(models)
mask

0         True
1        False
2        False
3        False
4        False
         ...
13114    False
13115    False
13116    False
13117    False
13118    False
Name: model, Length: 13119, dtype: bool

In [17]:
df[mask]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
40,SLK,2014,15990,Automatic,43955,Petrol,205,43.5,1.8
52,SLK,2004,4890,Automatic,46000,Petrol,330,28.0,3.5
58,SLK,2008,5980,Automatic,60000,Petrol,280,34.4,1.8
71,M Class,2008,5990,Automatic,110000,Diesel,555,28.8,3.0
...,...,...,...,...,...,...,...,...,...
12959,M Class,2009,9990,Automatic,59000,Diesel,555,30.4,3.0
12960,SLK,2012,10990,Automatic,55000,Petrol,200,43.5,1.8
13007,M Class,2012,14400,Automatic,61898,Diesel,300,39.2,3.0
13010,SLK,2015,13400,Manual,47003,Petrol,205,41.5,1.8
13108,SLK,2016,17499,Automatic,30128,Diesel,30,70.6,2.1