In [37]:
import pandas as pd

In [38]:
data = {
'Year': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
'Population (m)': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
}
df = pd.DataFrame(data)

In [39]:
df

   Year  Population (m)  Temp
0  2021            33.9  1.54
1  2020            33.5  1.48
2  2019            32.9  1.56
3  2018            32.5  1.62
4  2017            31.9  1.65
5  2016            31.4  1.66
6  2015            30.9  1.64
7  2014            28.5  1.53

In [40]:
df.head(3)

   Year  Population (m)  Temp
0  2021            33.9  1.54
1  2020            33.5  1.48
2  2019            32.9  1.56

In [41]:
df.shape

(8, 3)

In [42]:
df = pd.DataFrame(data, columns=['Year', 'Temp', 'Population (m)'])
df

   Year  Temp  Population (m)
0  2021  1.54            33.9
1  2020  1.48            33.5
2  2019  1.56            32.9
3  2018  1.62            32.5
4  2017  1.65            31.9
5  2016  1.66            31.4
6  2015  1.64            30.9
7  2014  1.53            28.5

In [43]:
df = pd.DataFrame(data, columns=['Year', 'Temp', 'Population (m)', 'GDP'])
df

   Year  Temp  Population (m)  GDP
0  2021  1.54            33.9  NaN
1  2020  1.48            33.5  NaN
2  2019  1.56            32.9  NaN
3  2018  1.62            32.5  NaN
4  2017  1.65            31.9  NaN
5  2016  1.66            31.4  NaN
6  2015  1.64            30.9  NaN
7  2014  1.53            28.5  NaN

In [44]:
df = pd.DataFrame(data, columns=['Year', 'Temp', 'Population (m)', 'GDP'], index=[21, 20, 19, 18, 17, 16, 15, 14])
df

    Year  Temp  Population (m)  GDP
21  2021  1.54            33.9  NaN
20  2020  1.48            33.5  NaN
19  2019  1.56            32.9  NaN
18  2018  1.62            32.5  NaN
17  2017  1.65            31.9  NaN
16  2016  1.66            31.4  NaN
15  2015  1.64            30.9  NaN
14  2014  1.53            28.5  NaN

In [45]:
df['Population (m)']

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
14    28.5
Name: Population (m), dtype: float64

In [46]:
df.Temp

21    1.54
20    1.48
19    1.56
18    1.62
17    1.65
16    1.66
15    1.64
14    1.53
Name: Temp, dtype: float64

In [47]:
df

    Year  Temp  Population (m)  GDP
21  2021  1.54            33.9  NaN
20  2020  1.48            33.5  NaN
19  2019  1.56            32.9  NaN
18  2018  1.62            32.5  NaN
17  2017  1.65            31.9  NaN
16  2016  1.66            31.4  NaN
15  2015  1.64            30.9  NaN
14  2014  1.53            28.5  NaN

In [48]:
df.GDP = 0
df

    Year  Temp  Population (m)  GDP
21  2021  1.54            33.9    0
20  2020  1.48            33.5    0
19  2019  1.56            32.9    0
18  2018  1.62            32.5    0
17  2017  1.65            31.9    0
16  2016  1.66            31.4    0
15  2015  1.64            30.9    0
14  2014  1.53            28.5    0

In [49]:
val = pd.Series([1700, 1800, 1900, 2000, 2100, 2200, 2300, 2400], index=df.index)
df.GDP = val
df

    Year  Temp  Population (m)   GDP
21  2021  1.54            33.9  1700
20  2020  1.48            33.5  1800
19  2019  1.56            32.9  1900
18  2018  1.62            32.5  2000
17  2017  1.65            31.9  2100
16  2016  1.66            31.4  2200
15  2015  1.64            30.9  2300
14  2014  1.53            28.5  2400

In [50]:
df['1500+'] = df.GDP > 2000
df

    Year  Temp  Population (m)   GDP  1500+
21  2021  1.54            33.9  1700  False
20  2020  1.48            33.5  1800  False
19  2019  1.56            32.9  1900  False
18  2018  1.62            32.5  2000  False
17  2017  1.65            31.9  2100   True
16  2016  1.66            31.4  2200   True
15  2015  1.64            30.9  2300   True
14  2014  1.53            28.5  2400   True

In [51]:
del df['1500+']
df

    Year  Temp  Population (m)   GDP
21  2021  1.54            33.9  1700
20  2020  1.48            33.5  1800
19  2019  1.56            32.9  1900
18  2018  1.62            32.5  2000
17  2017  1.65            31.9  2100
16  2016  1.66            31.4  2200
15  2015  1.64            30.9  2300
14  2014  1.53            28.5  2400