In [1]:
import pandas as pd

In [4]:
data = {
'Year': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
'Population (m)': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
'GDP': [60.6, 59.9, 59.3, 58.7, 58.0, 57.4, 56.8, 56.1]
}
df = pd.DataFrame(data, columns=['Year', 'Temp', 'Population (m)', 'GDP'], index=[21, 20, 19, 18, 17, 16, 15, 14])
df

    Year  Temp  Population (m)   GDP
21  2021  1.54            33.9  60.6
20  2020  1.48            33.5  59.9
19  2019  1.56            32.9  59.3
18  2018  1.62            32.5  58.7
17  2017  1.65            31.9  58.0
16  2016  1.66            31.4  57.4
15  2015  1.64            30.9  56.8
14  2014  1.53            28.5  56.1

In [5]:
df.index

Index([21, 20, 19, 18, 17, 16, 15, 14], dtype='int64')

In [6]:
df.columns

Index(['Year', 'Temp', 'Population (m)', 'GDP'], dtype='object')

In [7]:
indeks = df.columns
indeks

Index(['Year', 'Temp', 'Population (m)', 'GDP'], dtype='object')

In [8]:
'Temp' in indeks

True

In [9]:
data = {
    'Uzbekistan': {2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9, 2014:28.5},
    'Kazakhstan': {2021:18.8, 2020:18.5, 2019:18.3, 2018:18.1, 2017:17.9, 2016:17.7, 2015:17.5, 2014:17.3, 2013:17.1},
}

df2 = pd.DataFrame(data)
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.8
2020        33.5        18.5
2019        32.9        18.3
2018        32.5        18.1
2017        31.9        17.9
2016        31.4        17.7
2015        30.9        17.5
2014        28.5        17.3
2013         NaN        17.1

In [11]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.8
2020        33.5        18.5
2019        32.9        18.3
2018        32.5        18.1
2017        31.9        17.9
2016        31.4        17.7
2015        30.9        17.5
2014        28.5        17.3
2013         NaN        17.1

In [14]:
'Tajikistan' in df2.columns
2022 in df2.index

False

In [15]:
indeks

Index(['Year', 'Temp', 'Population (m)', 'GDP'], dtype='object')

In [16]:
indeks[2:4]

Index(['Population (m)', 'GDP'], dtype='object')